body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.game-frame{
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    height: 715px;
    border: 2px solid;
    margin: 0 0 0vh 20vw;
}

.fragment{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(109, 104, 104);
    margin: 10px 5px;
}

.fragment:hover{
    cursor: pointer;
}

.fragment>p{
    text-align: center;
    margin-top: 41px;
    font-size: 66px;
}

#invisible{
    visibility: hidden;
}

.buttons-section{
    display: flex;
    margin: 20px 0 10px 260px;
    gap: 5%;
}

.buttons-section>button{
    width: 100px;
    height: 50px;
    background: rgb(25, 159, 183);
    border-radius: 27px;
    border: none;
    color: white;
    font-size: 26px;
}

.buttons-section>button:hover{
    cursor: pointer;
}

#active{
    background:rgb(109, 104, 104);
}

.moves-section{
    display: flex;
    margin-left: 350px;
    gap: 45px;
}

.moves-section>div{
    display: flex;
    gap: 5px;
}

.moves-section>div>p{
    font-size: 26px;
}

.sizes{
    display: flex;
    margin-left: 400px;
}

.sizes>div{
    display: flex;
    gap: 15px;
}

.frame-size{
    font-size: 20px;
}

.other-sizes{
    margin-left: 318px;
}

.other-sizes>ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 26px;
}

.other-sizes>ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(9, 152, 241);
}


@media (max-width: 906px){
    .game-frame{
        margin-left: 10vw;
    }

    .buttons-section{
        margin-left: 12vw;
    }

    .moves-section{
        display: flex;
        margin-left: 15vw;
        gap: 45px;
    }

    .sizes{
        margin-left: 40vw;
    }

    .other-sizes{
        margin-left: 18vw;
    }
}

@media (max-width: 770px){
    .game-frame{
        margin-left: 5vw;
    }
}

@media (max-width: 700px){
    .game-frame{
        margin-left: 0vw;
    }
}

@media (max-width: 655px){
    .game-frame{
        width: 600px;
    }

    .fragment{
        width: 136px;
    }
}

@media (max-width: 607px){
    .game-frame{
        width: 500px;
        height: 536px;
        margin-left: 5vw;
    }

    .fragment{
        width: 136px;
        width: 112px;
        height: 112px;
    }

    .fragment>p{
        margin-top: 17px;
    }

    .buttons-section{
        margin-left: 6vw;
    }
}

@media (max-width: 535px){

    .buttons-section{
        margin-left: 5vw;
    }

    .buttons-section>button{
        width: 80px;
        height: 50px;
    }

    .buttons-section>button{
        font-size: 16px;
    }

    .game-frame{
        width: 443px;
        height: 536px;
        margin-left: 5vw;
    }

    .fragment{
        width: 98px;
        width: 98px;
        height: 112px;
    }

    .other-sizes{
        margin-left: 10vw;
    }
}

@media (max-width: 487px){
    .game-frame{
        width: 408px;
        height: 536px;
        margin-left: 5vw;
    }

    .fragment{
        width: 90px;
        width: 90px;
        height: 100px;
    }

    .other-sizes{
        margin-left: 2vw;
    }

    .other-sizes>ul{
        font-size: 20px;
    }
}

@media (max-width: 439px){
    .game-frame{
        width: 370px;
        height: 536px;
        margin-left: 5vw;
    }

    .fragment{
        width: 80px;
        height: 100px;
    }
}

@media (max-width: 401px){

    .buttons-section{
        width: 150px;
    }

    .buttons-section>button{
        width: 70px;
        height: 30px;
    }

    .game-frame{
        width: 300px;
        height: 328px;
        margin-left: 5vw;
    }

    .fragment{
        width: 60px;
        height: 60px;
    }

    .fragment>p{
        font-size: 26px;
    }

    .other-sizes{
        margin-left: -20px;
        width: 100px;
    }

    .other-sizes>ul{
        width: 100px;
    }

    .sizes{
        width: 150px;
        margin-left: 7vw;
    }

    .moves-section{
        margin-left: 3vw;
        width: 200px;
    }

    .moves-section>div{
        width: 100px;
    }

    .moves-section>div>p{
        font-size: 20px;
    }
}

@media (max-width: 322px){
    .game-frame{
        width: 290px;
        height: 328px;
        margin-left: 5vw;
    }
}